/* Définition de la police Raleway */
@font-face
{
    font-family: 'Raleway';
    src: url('Ralewayfont/Raleway-Italic-VariableFont_wght.ttf');
    src: url('Ralewayfont/Raleway-VariableFont_wght.ttf');
    src: url('Ralewayfont/static/Raleway-Black.ttf');
    src: url('Ralewayfont/static/Raleway-BlackItalic.ttf');
    src: url('Ralewayfont/static/Raleway-Medium.ttf');
    src: url('Ralewayfont/static/Raleway-Regular.ttf');
    src: url('Ralewayfont/static/Raleway-Thin.ttf');
    src: url('Ralewayfont/static/Raleway-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body {
    font-family: "Raleway", "Sans Serif";
    
}

/* HEADER */

.logonav {
   display: flex;
   justify-content: space-between;
   margin: auto;
}

.logo {
    width: 100px;
    height: 70px;
    display: flex;
    align-content: flex-start;   
}

/* Menu */
.nav {
    display: flex;
    align-items: center;  
}

.nav-name  {
    margin: 2px;
    padding: 2px;
    font-weight: 400;
    color: #0065FC;
    text-decoration: none;
}

.nav-name:hover {
    color: #A2A2A2 ;
}

nav a:hover
{
    color: #A2A2A2 ;
}

/* Slogan */

.search {
    margin: left;
    padding: 5px;
}

.slogantitle {
   font-size: 20px;
   margin: 5px;
}

.slogansubtitle {
    font-size: 10px;
    margin-top: 1px;
    margin-left: 5px; 
}

/* Recherche */

.research {
        width: 200px;
        height: 32px;
        margin-top: 10px;
        margin-left: 5px;
        display: flex;
        background:#F2F2F2;
        border-radius: 8px;   
    }

.mapicon {
        width: 12px;
        height: 17px;
        display: flex;
        justify-content: center;
        padding: 8px;
    }

    .searchform {
        width: 200px;
        margin-top: 1px;
        margin-bottom: 1px;
        background:white;
        border: transparent;
        padding: 3px;
        font-size: 10px;  
    }

    .button {
        width: 200px;
        margin-top: 1px;
        margin-bottom: 1px;
        background: #0065FC;
        border: #0065FC; 
        border-radius: 0px 8px 8px 0px;
        font-size: 10px;
        color: white;
    }

/* Filtres */

.filters {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.titlefilters {
    font-size: 10px;
}

.economique, .familial, .romantique, .animaux {
    
        display: flex; 
        position: relative;
        margin: left;
        top: 10px;
        right: 0;
        bottom: 0;
        left: 50px; 
        border-radius: 50%;
        background-color: #DEEBFF;
        align-items: center;
        justify-content: center; 
    }

    .filtersicon {
        color: blue;
      }
    
      .eco, .fami, .roman, .anim {
        margin: 10px;
      }

    /* ESSAIS FILTRES
    background-color:rgb(122, 118, 118);
        height: 25px;
        width: 25px;
        border-radius: 50%;
        z-index: 1;
    .filtersicon:before {
        content: "";
        margin: auto;
    }
    
    .economique ::after {
        width: 100px;
        height: 23px;
        top: 0px;
        left: 12px;
        background-color:transparent;
        border: 1px;
        border-style: solid;
        border-color: rgb(189, 184, 184);
        border-left: none;
        border-radius: 8px;
        position: absolute;
        content: "";
        font-family: Raleway-Regular ;
        padding-left: 10px;
        z-index: 2;
    }
    .economique, .familial, .romantique, .animaux {
        
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -2px;
      }
    */

/* 6 Informations*/

.infos {
    display: flex; 
}

.infoicon {
    height: 20px;
    width: 20px;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
 
/* SECTION HEBERGEMENTS */

.hosting {
    width: 60%;
   float: left;
    background-color: #F2F2F2;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

.hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title-hosting {
    width: auto;
    padding: 5px;
    font-size: 20px;
    display: flex ;
    flex-direction: column ;
}

.cannebiere, .port, .mouettes, .mer, .panier, .amina {
    width: 150px;
    height: 160px;
    margin: 10px;
    background-color: white;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
    border-width: 3px;
    border-style: solid;  
}

.hosting-smaller-image {
    width: 100px;
    height: 70px;
    object-fit: cover;
    align-items: center;
    align-content: center;
    padding: 5px 5px 5px 5px;
}

.name-hosting {
    font-size: 8px;
    text-align: center;
}

.pricing-hosting {
    font-size: 8px;
    text-align: center;
}

.stars {
    font-size: 10px;
    color: blue;
    margin-top: 2px;

}

.fas fa-star empty {
    color: grey;
}

/* ASIDE LES PLUS POPULAIRES*/

.popular {
    width: 30%;
    float: right;
    flex-direction: column ;
    background-color:  #F2F2F2;
    align-items: start;
  }
  .populartitle {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  .soleil {
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
  }
  .popular-smaller-image {
    border-radius: 1px 0px 0px 1px;
    position: absolute;
    width: 100px;
    height: 80px;
    object-fit: cover;
  }

/* SECTION ACTIVITES */

.activities {
    clear: both;
    display: flex;
    width: 100%;
  }

.activitiestitle {
    font-weight: bold;
    display: flex;  
  }

.vieuxport, .pomegues, .frioul, .calanques, .garde, .longchamp {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 80px;
    margin: 5px;
  }

.activities-smaller-image {
    height: 100px;
    width: 80px;
    object-fit: cover;
  }

  .name-activities {
    margin: 3px;
    font-size: 10px;
  }


/* FOOTER*/

.footerlinks {
    background-color: #F2F2F2;
    width: 100%;
  }
  .footerColumnwrapper {
    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 10px;
  }

  .footertitle {
    width: 30%;
    padding: 10px;
  }

  .links-footer {
    display: block;
    margin: 5px;
  }
  

/* FOOTER*/







