/* 3 Texte



header h3

{
        font-family: 'Raleway-Regular', serif;
        font-size: 1em;
        font-weight: normal;
        margin: 0 0 0 10px;
        padding-top: 0.5em;
}

/* 4 Recherche*/
#Rechercher img
    {
        width: 60px;
        height: 30px;  
    }


 
/* 5 Filtres*/

#filtres ul
{
   display: flex; 
}

#filtres
{
    display: flex;
}

#Filtres a:active
{
    color: purple;
}

#Economique img 
{
    width: 30px;
    height: 15px;
   
}

#Economique 
{
    list-style-type: none;
    font-size: small;
    
} 

#Familial img
{
    width: 30px;
    height: 15px;
   
}

#Familial
{
    list-style-type: none;
    font-size: small;
    
} 

#Romantique img
{
    width: 30px;
    height: 15px;
}

#Romantique
{
    list-style-type: none;
    font-size: small;
}

#Animaux img
{
    width: 30px;
    height: 15px;
}

#Animaux
{
    list-style-type: none;
    font-size: small;
}

/* 6 Informations*/

#Info img
{
    width: 30px;
    height: 15px; 
}
 
#Info
{
    font-family: 'Raleway-Thin';
    font-size: 0.5em;
}

/* SECTION HEBERGEMENTS */

#hebergements {
    width: 600px;
    height: 500px;
    background-color: #F2F2F2;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

#flexbox-hosting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.title-hosting {
    width: auto;
    padding: 10px;
    font-size: 15px;
    display: inline;
}

#cannebiere, #port, #mouettes, #mer, #panier, #amina {
    width: 160px;
    height: 160px;
    background-color: white;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
    border-width: 3px;
    border-style: solid;  
}

.smaller-image {
    width: 140px;
    height: 100px;
    object-fit: cover;
    align-content: center;
    padding: 5px 5px 5px 5px;
}

.text-hosting {
    font-size: 8px;
    text-align: left;
    margin-left: 5px;
    margin-top: 2px;
}

.fa-star.fas {
    font-size: 10px;
    color: blue;
    margin-top: 2px;

}

.empty.fas {
    color: grey;
    margin-top: 2px;
}

/* ASIDE LES PLUS POPULAIRES*/

/* SECTION ACTIVITES */

/* FOOTER*/







